

@page {
  size: letter portrait;
  @frame col1_frame {             /* Content frame 1 */
      left: 44pt; width: 245pt; top: 90pt; height: 632pt;
  }
  @frame col2_frame {             /* Content frame 2 */
      left: 323pt; width: 245pt; top: 90pt; height: 632pt;
  }
}
