<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    {% for page in pages %}
        {% if page.type == "two_column" %}
          <article id="{{ page.name }}" class="columns">
            <section>
              {% for item in page.contents %}
                <p>
                  {{ item }}
                </p>
              {% endfor %}
            </section>
            <ul>
              {% for choice in page.choices %}
                <li class="active"><a href="#{{ choice.target }}">{{choice.description}}</a></li>
              {% endfor %}
            </ul>
          </article>
        {% endif %}  
    {% endfor %}
  </body>
</html>
