<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <article id="cover">
      <h1>
        <a href="#start">{{ title }}</a>
      </h1>
      {# <address>
        {{ author_name }}
        {{ author_contact }}
      </address> #}
      <address>
        WeasyPrint
        26 rue Emile Decorps
        69100 Villeurbanne France
      </address>
      <address>
        contact@courtbouillon.org
        https://courtbouillon.org
      </address>
    </article>
    
    {% for page in pages %}
        {% if page.type == "two_column" %}
          <p style="page-break-before: always;"></p>
          <article id="{{ page.name }}" class="columns">
            <section>
              {% for item in page.contents %}
                <p>
                  {{ item }}
                </p>
              {% endfor %}
            </section>
            <br><br>
            {% if page.choices|length > 1 %}
              <ul>
                {% for choice in page.choices %}
                  <li class="active"><a href="#{{ choice.target }}">{{ choice.description }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              {% if pages.name == "end" %}
              {% else %}
                <li class="active"><a href="#end">this is the end</a></li>
              {% endif %}
            {% endif %}
          </article>
        {% endif %}  
    {% endfor %}
  </body>
</html>
