<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <article id="cover">
      <h1>{{ title }}</h1>
      <address>
        {{ author_name }}
      </address>
      <address>
        {{ author_contact }}
      </address>
    </article>
    
    {% for page in pages %}
        {% if page.type == "two_column" %}
          <p style="page-break-before: always;"></p>
          <article id="{{ page.name }}" class="columns">
            <section>
              {% for item in page.contents %}
                <p>
                  {{ item }}
                </p>
              {% endfor %}
            </section>
            <br><br>
            {% if page.choices|length > 1 %}
              <ul>
                {% for choice in page.choices %}
                  <li class="active"><a href="#{{ choice.target }}">{{ choice.description }}</a></li>
                {% endfor %}
              </ul>
            {% elif (pages.name != "end") %}
              <li class="active"><a href="#end">this is the end</a></li>
            {% endif %}
          </article>
        {% endif %}  
    {% endfor %}
  </body>
</html>
